@using DevExpress.ExpressApp.Actions;
@using DevExpress.Blazor.Internal
@inherits ActionBaseComponent

@if (Action.Active) {
    <li onclick="@Execute" class=@Utils.CombineCssClasses("", DisabledCssClass)>
        @switch (Action.PaintStyle) {
            case DevExpress.ExpressApp.Templates.ActionItemPaintStyle.CaptionAndImage:
            case DevExpress.ExpressApp.Templates.ActionItemPaintStyle.Default:
                if (!string.IsNullOrEmpty(Action.ImageName)) {
                    <img src=@GetActionImageUrl() />
                }
                <span>@Action.Caption</span>
                break;
            case DevExpress.ExpressApp.Templates.ActionItemPaintStyle.Image:
                if (!string.IsNullOrEmpty(Action.ImageName)) {
                    <img src=@GetActionImageUrl() />
                } else {
                    <span>@Action.Caption</span>
                }
                break;
            case DevExpress.ExpressApp.Templates.ActionItemPaintStyle.Caption:
                <span>@Action.Caption</span>
                break;
        }

    </li>
}

@functions {
    [Parameter]
    new SimpleAction Action {
        get => (SimpleAction)base.Action;
        set => base.Action = value;
    }
    protected override void ExecuteCore() {
        Action.DoExecute();
    }
}
